    <div id="footer">
      <div class="container">
        <p class="text-muted">
          Brought to you by <a href="http://xopn.de" target="_blank">Christian Zenker</a> •
          <a href="https://github.com/czenker/calcycling" target="_blank">Source Code</a> •
          Displayed data is considered Public Domain.
        </p>
      </div>
    </div>
    <!-- updated on <%= DateTime.now.rfc2822 %>-->
</body>
</html>