<%= render('_header') %>

<div class="jumbotron">
  <div class="container">
    <h1>When can I use my calendar again?</h1>
    <p>
      Life is a circle – and so are our years. Every now and then there will be
      two years that are completely identical – from a calendar point of view.
    </p>
    <p>
      This page will show you which calendars are worth keeping and when you will
      be able to reuse them. Holidays, like easter, will be also match.
    </p>
  </div>
</div>
<div class="container">
    <ul class="years">
      <% @years.each do |year| %><li><%= link_year(year.to_i) %></li><% end %>
    </ul>
</div>
<%= render('_footer') %>